<!DOCTYPE HTML>
<html class="portal">
    <head>
        <meta charset="utf-8" />
        <base href="/" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Flare Frontend</title>
    </head>
    <body>
        <div ng-strict-di ng-app="flare" ui-view></div>
    </body>
</html>
