@import url("login.css");
@import url("home.css");

@import url('~tingle.js/dist/tingle.css');
@import url('~cropperjs/dist/cropper.css');

@import url('~bootstrap/dist/css/bootstrap.css');
@import url('~sweetalert2/dist/sweetalert2.css');
@import url('~ng-dialog/css/ngDialog.css');
@import url('~ng-dialog/css/ngDialog-theme-plain.css');
@import url('~font-awesome/css/font-awesome.min.css');
@import url('~angular-loading-bar/build/loading-bar.min.css');

.tingle-modal {
  z-index: 10000;
}

.tingle-modal-box__footer {
  text-align: center;
}

.no-p {
  display: block;
}

.fh {
  height: 100vh;
}

.yh {
  height: 100%;
}

.yw {
  width: 100%;
}

.ngdialog.ngdialog-theme-plain2 .ngdialog-content {
  width: 900px;
}

.ngdialog.ngdialog-theme-plain {
  padding: 30px !important;
}

.col-border {
  border: solid 1px #CCC;
  margin: 0px;
  margin-bottom: 1em !important;
}

td {
  vertical-align: middle !important;
}

.detail {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
}

.page-vh, .page-vh > .row, .page-vh > .container > div, .page-vh > .container > div > div, .page-vh > .loading {
  min-height: calc(100vh - 134px);
}

*:not(.custom-control) > label {
  font-size: 0.8rem;
  margin-bottom: .1rem;
}

*:not(.custom-control) > label::after {
  content: ':';
}

.btn-save {
  margin-top: 15px;
}

.ui-select-choices {
  height: 200px !important;
  overflow: scroll !important;
  width: 102%;
  margin-left:-1%;
  padding: 0 !important;
}

.ui-select-choices li {
  height: 38px;
  line-height: 38px;
  padding: 0 !important;
  cursor: pointer;
}

.ui-select-choices li div {
  padding: 0.375rem 0.75rem;
}

.ui-select-choices li div:hover {
  background: #eee !important;
}

.store_name {
  display:inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: bold;
}

.header {
  padding: 20px 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000 !important;
  text-decoration: none !important;
}

.logo img {
  height: 35px;
}

.ui-select-focusser {
  display: none !important;
}

.pull-left {
    float: left !important;
}

.clickable {
  cursor: pointer;
}

.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
  width: 0;
  margin-top:10px;
}

.ui-select-toggle {
  text-align: center;
}

.pull-right {
  float: right !important;
}

.ui-select-toggle.btn {
  border: 1px solid #ced4da;
}

.ui-select-choices.dropdown-menu {
  display: block;
}

.ui-select-match-text {
  max-height: 24px;
}

.ui-select-match.btn-default-focus {
  border-radius: .25rem;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  outline: 0;
}

.ui-select-match.btn-default-focus > .ui-select-toggle {
  border-color: #80bdff;
}

.rcrop {
  display: block;
  width: 100%;
}

.rcrop > div.area {
  background: gray;
  font-weight: bold;
  position: relative;
  text-align: center;
  font-size: 13pt;
}

.rcrop > div.area > div {
  display:block;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.rcrop > div.area > div > a {
  display: table;
  color:white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 40pt;
}

.rcrop > div.area > div > a > div {
  display:table-cell;
  vertical-align: middle;
}

.rcrop > div.back > div.btm2 {
  display:table;
  width:100%;
  border-collapse:separate;
  border-spacing:5px 0px;
}

.rcrop > div.back {
  position: relative;
  margin-top:-36px !important;
  padding-left: 5px;
  padding-bottom: 5px;
}

.progress-extra-small {
  display: block !important;
  height:3px !important;
  margin-top:5px;
  margin-left:-10px !important;
  margin-bottom: -8px;
  width: calc(100% + 15.33px);
  border-radius: 0 !important;
}

.btn-iptal {
  display: inline-block !important;
  vertical-align: top !important;
  margin:0 0 0 -5px !important;
}

.rcrop > div.back > div.btm2 > * {
  display:table-cell;
}

.rcrop > div.back > div.btm2 > span,
.rcrop > div.back > div.btm2 > a {
  vertical-align: middle;
}

.rcrop a img {
  width: 100%;
}

.img-crop, .img-crop canvas {
  display: block;
}

.st-sort-ascent:after {
    content: ' \25B2';
}

.st-sort-descent:after {
    content: ' \25BC';
}

.orderable {
    cursor: pointer;
}

.ui-select-toggle {
  text-align: left;
}

.redish {
  color: #CC0000;
}