<div loading-container>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ui-sref="page.home">Home</a></li>
      <li class="breadcrumb-item"><a ui-sref="page.users">Users</a></li>
    </ol>
  </nav>
    <div class="row">
      <div class="col-md-8 form-inline">
        <div class="form-group">
            <a class="btn btn-primary" href ng-click="ctrl.edit_or_add()"><i class="fa fa-plus" aria-hidden="true"></i> Add User</a>
        </div>
        <div class="form-group mx-sm-3">
            <input type="text" class="form-control form-inline" id="search" ng-model="ctrl.search" ng-change="ctrl.init()" placeholder="Search...">
        </div>
      </div>
    </div>
    <table class="table table-striped mt-3">
        <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col" class="text-center">Avatar</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Type</th>
              <th scope="col" class="text-center">E-Mail</th>
              <th scope="col" class="text-center">Created at</th>
              <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in ctrl.users">
              <th scope="row">{{ user.id }}</th>
              <td class="text-center"><img ng-if="user.avatar" class="avatar" ng-src="{{ user.avatar.access_url }}" /></td>
              <td class="text-center">{{ user.name }}</td>
              <td class="text-center">{{ page.types[user.type] }}</td>
              <td class="text-center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
              <td class="text-center">{{ user.created_at | date : 'medium' }}</td>
              <td><button type="button" class="btn btn-outline-primary btn-sm" ng-click="load(ctrl.edit_or_add(user.id))"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button> <button type="button" class="btn btn-outline-danger btn-sm" ng-click="load(ctrl.delete(user.id))"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></td>
          </tr>
        </tbody>
    </table>
</div>